@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import url('https://fonts.googleapis.com/css?family=Anton');

/*font-family: 'Spectral SC', serif;*/
/*font-family: 'Anton', sans-serif;*/


html {

	font-size: 16px;
}

body {

	font-family: 'Roboto Mono', monospace;
	background-color: #FCFCFC;
	position: relative;
}

.container-fluid {

	width: 100vw;
	height: 100%;
}

div.col-12 {

	padding-left: 0!important;
	padding-right: 0!important;
}

#landingPageContainer {

	width: 100vw;
	height: 100vh;
	background-color: #303030;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
}

#landingPageText {

	position: relative;
	top: 15vh;
}

#landingPageText p {
	
	font-size: 5rem;
}

#landingPageText span {

	font-size: 6rem;
	color: #FFA500;
	font-variant: small-caps;
}

#enterButton {
	
	margin-top: 3rem;
}

#aboutPageContainer {

	width: 100vw;
	height: 100vh;
	/*background-color: white;*/
	margin: 0;
	padding: 0;
}

#aboutTitle {
	
	padding-top: .5rem;
	text-align: center;
}

#projectsPageContainer {

	width: 100vw;
	height: 100vh;
	/*background-color: white;*/
	margin: 0;
	padding: 0;
}

#projectsTitle {
	
	padding-top: .5rem;
	text-align: center;
}

#contactPageContainer {

	width: 100vw;
	height: 70vh;
	/*background-color: white;*/
	margin: 0;
	padding: 0;
}

#contactTitle {
	
	padding-top: .5rem;
	text-align: center;
}

#contactForm {

}

.title {
	
	margin-top: .5rem;
	text-decoration: underline;
}

#footer {
	
	width: 100vw;
	height: 30vh;
	background-color: #303030;
}