@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import url('https://fonts.googleapis.com/css?family=Raleway');


root: {

	font-size: 16px;
}

body {

	background-color: #353535;
}

h1 {

	font-size: 4rem;
}

.underline {

	display: block;
	margin: auto;
	width: 100px;
	border-bottom: 3px solid black;
}

/*LANDING PAGE ========================================================*/

#landingPage {
	
	position: relative;
	width: 100vw;
	min-height: 100vh;
	background-color: #353535;
	background-image: radial-gradient(circle at center, #353535, #1B1B1B)
}

#landingPageText {

	vertical-align: middle;
	margin-top: 4rem;
	font-family: 'Roboto Mono', monospace;
}

#landingPageText p {
	
	font-size: 5rem;
	color: white;
	text-align: center;
}

#landingPageText span {

	color: orange;
	font-size: 5rem;
}

#chevronImage {

	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.3;

}

#chevronImage img {

	width: 50px;
	height: 50px;	
}

#chevronImage:hover {

	cursor: pointer;
	opacity: 1;
}

/*PROJECTS PAGE ========================================================*/

#projectsPage {

	width: 100vw;
	min-height: 100vh;
	background-color: #EFEFEF;
}

#projectsPageTitle {

	text-align: center;
	padding-top: 1rem;
}

.projectsGif {

	border: 3px solid black;
	border-radius: 5px;
	margin-top: 1rem;
}

.projectsTitle {

	margin-bottom: 1.5rem;
	font-family: 'Raleway', sans-serif;
}

.projectsDescription {

	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-top: 1rem;
}

.projectsSVG img {

	width: 75px;
}

.projectsLinks {

	font-family: 'Raleway', sans-serif;
}

/*Pop-Spots ------------------------------------------*/ 

#popSpots {

	/*border-top: 1px solid #C5C5C5;*/
	border-bottom: 1px solid #C5C5C5;
	padding: 1.5rem;
}

/*Dangerous Asteroids ---------------------------------*/

#dangerousAsteroids {

	border-bottom: 1px solid #C5C5C5;
	padding: 1.5rem;	
}

#vueToDo {

	border-bottom: 1px solid #C5C5C5;
	padding: 1.5rem;
}

/*CONTACT PAGE ==========================================================*/

#contactPage {

	position: relative;
	width: 100vw;
	height: 80vh;
	background-color: #DBDBDB;
}

#contactPageTitle {

	text-align: center;
	padding-top: 1rem;
}

#contactForm {

	margin-top: 1rem;
}

#contactForm .btn-primary {

	font-family: 'Roboto Mono', monospace;
	background-color: #353535;
	color: white;
	border: none;
	outline: none;
}

#contactName {

	border: 1px solid grey;
}

#contactEmail {

	border: 1px solid grey;
}

#contactMessage {

	border: 1px solid grey;
}
/*FOOTER =================================================================*/

#footer {

	position: relative;
	width: 100vw;
	height: 20vh;
	background-color: #353535;
}

#linkImages {

	position: absolute;
	top: 5vh;
	left: 50vw;
	transform: translateX(-50%);
}

#linkImages img {

	margin: 1rem;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
